*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #000000;
    display:flex;
    color:#fff;
    width: 100%;
}
video {
    display: none;
}
#text-video {
    font-family: Courier,serif;
    font-size:6px;
    line-height: 4px;
    color: white;
}
.fl{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.nav{
    width:100%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#hr{
    background-color:#fff;
    height: 3px;
    width: 100%;
}
.cont{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
#canvas-video{
    width: 100%;
    align-self: flex-end;
    margin-bottom: 60px;
}
#text-video{
   width: 70% ;
   display: flex;
}
#text-video div{
    margin:auto;
}
#stop{
    color: rgb(255, 255, 255);
    border:2px solid #fff;
    height: 37px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;
}
#return{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border:2px solid #fff;
    height: 37px;
    width: 153px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer; 
}
.btn{
    width: 100%;
    min-height: 30vh;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction:column;
}
.controls{
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;
}